<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webpage</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <div class="footer-module--main-content--1VDKD">
        <header class="header-module--container--2xPcW">
            <div class="header-module--content--3SRuT">
                <div><a class="header-module--logo-link--P7H2k" href="/#body"><img src="./image/logo.png" alt="Mead.io"></a>
                </div>
                <div>
                    <div class="header-module--menu-toggle--20d1h">
                        <!-- <span class="header-module--menu-toggle-icon--3M3Dn"><img src="bars-dark.svg" alt="Menu">
                            <img src="x-dark.svg" alt="Close menu"></span> -->
                    </div>
                    <li class="header-module--nav-list--3az7f">
                    <li class="header-module--nav-item--1kPYv"><a class="button-module--button--2_BiW"
                            href="/#courses">Courses</a></li>
                    <li class="header-module--nav-item--1kPYv"><a class="button-module--button--2_BiW"
                            href="/#features">Features</a></li>
                    <li class="header-module--nav-item--1kPYv"><a class="button-module--button--2_BiW"
                            href="/#testimonials">Reviews</a></li>
                    <li class="header-module--nav-item--1kPYv"><a class="button-module--button--2_BiW"
                            href="################################################">Blog</a></li>
                    <li class="header-module--nav-item--1kPYv"><a
                            href="/users" target="_blank"
                             class="button-module--primary-button--11GOo">Sign Up</a></li>
                    </li>
                </div>
            </div>
        </header>
        <main>
            <div class="hero-module--wrapper--1PkMg">
                <div class="hero-module--container--1eaED">
                    <div class="hero-module--content--1zUw3">
                        <h1 class="hero-module--title--2cQTJ"><span>Income Tax </span> Refund<br>Self-Starter</h1>
                        <p class="hero-module--subtitle--3pB4x">Wanted Income Tax money to be refund with 100% Security & Guarantee<p>
                        <p><a class="button-module--primary-button--11GOo" target="_blank" href="/login">Login In</a></p>
                    </div>
                    <video autoplay muted width="250">

                        <source src="./image/Dribbble 1.mp4"
                                type="video/webm">
                    
                    </video>
                </div>
            </div>
            <div>
                <div id="courses" class="content-block-module--anchor--3UUxi"></div>
                <div class="content-block-module--block--1EZ8G">
                    <div class="content-block-module--content--3HQ6B">
                        <h1 class="content-block-module--title--28kL4">Hands-On Dev Courses</h1>
                        <p class="content-block-module--subtitle--Siet5">I teach the latest technology for server-side
                            and client-side development. This includes Node, React, Meteor, and more.</p>
                        <div class="course-module--list--23qQU">
                            <div class="course-module--list-item--LZf65"><a
                                    class="course-module--list-item-overlay--3tWXF"
                                    href="####################################################"
                                    target="_blank" rel="noopener noreferrer"></a><img
                                    src="//images.ctfassets.net/pmpdmtkaamwy/7pPhW5Piti73nafpHdiil1/c5e1c5856447107df6886f29b59fc8de/Twitter_with_update.png"
                                    class="course-module--list-item-image--Keklh"
                                    alt="The Complete Node.js Developer Course (3rd Edition)">
                                <div class="course-module--list-item-content--2yi-h">
                                    <h4>The Complete Node.js Developer Course (3rd Edition)</h4>
                                    <div class="course-module--list-item-reviews--2ssSl"><span
                                            class="course-module--stars-4-7--kaO6x"><span></span><span></span><span></span><span></span><span></span></span><span>4.6
                                            <!-- --> (
                                            <!-- -->22,509
                                            <!-- --> reviews)
                                        </span></div>
                                    <p>Learn Node.js, MongoDB, Mongoose, Express, Socket.io, and more</p>
                                    <div class="course-module--list-item-button--qWbAi">Join
                                        <!-- -->99,013
                                        <!-- --> students
                                    </div>
                                </div>
                            </div>
                            <div class="course-module--list-item--LZf65"><a
                                    class="course-module--list-item-overlay--3tWXF"
                                    href="########################################" target="_blank"
                                    rel="noopener noreferrer"></a><img
                                    src="//images.ctfassets.net/pmpdmtkaamwy/7Jz21zrwN2QTpCW8zcBvkf/457a9ae57bc1425513d310c74cad2833/react-2-compressor.png"
                                    class="course-module--list-item-image--Keklh"
                                    alt="The Complete React Developer Course (2nd Edition)">
                                <div class="course-module--list-item-content--2yi-h">
                                    <h4>The Complete React Developer Course (2nd Edition)</h4>
                                    <div class="course-module--list-item-reviews--2ssSl"><span
                                            class="course-module--stars-4-7--kaO6x"><span></span><span></span><span></span><span></span><span></span></span><span>4.7
                                            <!-- --> (
                                            <!-- -->8,046
                                            <!-- --> reviews)
                                        </span></div>
                                    <p>Learn how to build and launch React web applications</p>
                                    <div class="course-module--list-item-button--qWbAi">Join
                                        <!-- -->29,107
                                        <!-- --> students
                                    </div>
                                </div>
                            </div>
                            <div class="course-module--list-item--LZf65"><a
                                    class="course-module--list-item-overlay--3tWXF"
                                    href="############################################" target="_blank"
                                    rel="noopener noreferrer"></a><img
                                    src="//images.ctfassets.net/pmpdmtkaamwy/6IVRvRgedmNoey7SY6PKGQ/1897e1f7fd4e02fcd3f27678ee867c27/js-compressor.png"
                                    class="course-module--list-item-image--Keklh"
                                    alt="The Modern JavaScript Bootcamp (2019)">
                                <div class="course-module--list-item-content--2yi-h">
                                    <h4>The Modern JavaScript Bootcamp (2019)</h4>
                                    <div class="course-module--list-item-reviews--2ssSl"><span
                                            class="course-module--stars-4-7--kaO6x"><span></span><span></span><span></span><span></span><span></span></span><span>4.7
                                            <!-- --> (
                                            <!-- -->2,280
                                            <!-- --> reviews)
                                        </span></div>
                                    <p>Learn JavaScript by building real-world applications</p>
                                    <div class="course-module--list-item-button--qWbAi">Join
                                        <!-- -->11,471
                                        <!-- --> students
                                    </div>
                                </div>
                            </div>
                            <div class="course-module--list-item--LZf65"><a
                                    class="course-module--list-item-overlay--3tWXF"
                                    href="##############################################" target="_blank"
                                    rel="noopener noreferrer"></a><img
                                    src="//images.ctfassets.net/pmpdmtkaamwy/4f3YHTK7NBSrxBnIQqbt9A/67c2000a3adf2ccded12134ad992863a/graphql-compressor.png"
                                    class="course-module--list-item-image--Keklh"
                                    alt="The Modern GraphQL Bootcamp (Advanced Node.js)">
                                <div class="course-module--list-item-content--2yi-h">
                                    <h4>The Modern GraphQL Bootcamp (Advanced Node.js)</h4>
                                    <div class="course-module--list-item-reviews--2ssSl"><span
                                            class="course-module--stars-4-7--kaO6x"><span></span><span></span><span></span><span></span><span></span></span><span>4.8
                                            <!-- --> (
                                            <!-- -->115
                                            <!-- --> reviews)
                                        </span></div>
                                    <p>Learn how to build GraphQL applications using Node.js</p>
                                    <div class="course-module--list-item-button--qWbAi">Join
                                        <!-- -->1,839
                                        <!-- --> students
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div id="features" class="content-block-module--anchor--3UUxi"></div>
                <div class="content-block-module--alt-block--3nN3v">
                    <div class="content-block-module--content--3HQ6B">
                        <h1 class="content-block-module--title--28kL4">What's in the Box?</h1>
                        <p class="content-block-module--subtitle--Siet5">Courses that come with everything you need to
                            actually learn.</p>
                        <div class="features-module--list--2AsAu">
                            <div class="features-module--item--1Bu8d"><img src="./image/browser.svg" alt="Learn by building">
                                <h3>Learn By Building</h3>
                                <p>All my courses are project based. You'll be writing code and building apps from the
                                    very beginning.</p>
                            </div>
                            <div class="features-module--item--1Bu8d"><img src="./image/chat.svg"
                                    alt="Fast and friendly support">
                                <h3>Fast and Friendly Support</h3>
                                <p>I offer fast and friendly support to get you unstuck. I answer every single question
                                    that comes my way.</p>
                            </div>
                            <div class="features-module--item--1Bu8d"><img src="./image/video.svg" alt="The Complete Package">
                                <h3>The Complete Package</h3>
                                <p>My courses go deep into the technology, ecosystem, and third-party libraries.
                                    Nothing's left out.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div id="testimonials" class="content-block-module--anchor--3UUxi"></div>
                <div class="content-block-module--block--1EZ8G">
                    <div class="content-block-module--content--3HQ6B">
                        <h1 class="content-block-module--title--28kL4">Thousands of Happy Students</h1>
                        <p class="content-block-module--subtitle--Siet5">Join over 180,000 other students.</p>
                        <div class="review-module--content--2px3f">
                            <ul class="review-module--list--aTHIz"
                                style="position: relative; width: 1038px; height: 402px;">
                                <div class="review-module--list-item--3pL7O"
                                    style="position: absolute; left: 0px; top: 0px;">
                                    <p>This is phenomenal. I honestly was not expecting how quickly we would get into
                                        producing useful code.</p>
                                    <div class="review-module--list-item-footer--2HSkh"><img
                                            src="//images.ctfassets.net/pmpdmtkaamwy/6kOs13fv0j5zPdbZyNdIc0/b82876e9f08c9bd64b5ce173df35af14/ethan-arrowood.jpg"
                                            alt="Ethan Arrowood">
                                        <div>
                                            <h4>Ethan Arrowood</h4><span>The Complete React Web App Developer
                                                Course</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-module--list-item--3pL7O"
                                    style="position: absolute; left: 346px; top: 0px;">
                                    <p>Andrew does a fantastic job explaining concepts and providing clear examples. The
                                        pace of the course is fantastic. The lectures are engaging , especially with the
                                        built-in lecture challenges. This course is truly the complete Node Developer
                                        Course!</p>
                                    <div class="review-module--list-item-footer--2HSkh"><img
                                            src="//images.ctfassets.net/pmpdmtkaamwy/4zxKEn93v8RJ6rv070h1ZP/b1f646e4eff0aff4eee8336f7f93c57c/beth-poore.jpg"
                                            alt="Beth Poore">
                                        <div>
                                            <h4>Beth Poore</h4><span>The Complete Node.js Developer Course 2.0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-module--list-item--3pL7O"
                                    style="position: absolute; left: 692px; top: 0px;">
                                    <p>Andrew is the best when it comes to teaching programming skills, and this is the
                                        third of his courses I've taken. You can be a total noob but you'll understand
                                        what's going on because everything is explained in detail. This course in
                                        particular is a masterpiece remastered.</p>
                                    <div class="review-module--list-item-footer--2HSkh"><img
                                            src="//images.ctfassets.net/pmpdmtkaamwy/4ggaxCvA95Z7RumsIuQMTy/213c16df8704334048131ede601337bf/lucas-engel.jpg"
                                            alt="Lucas Engel">
                                        <div>
                                            <h4>Lucas Engel</h4><span>The Complete Node.js Developer Course 2.0</span>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="content-block-module--anchor--3UUxi"></div>
                <div class="content-block-module--contact-block--17q--">
                    <div class="content-block-module--image-filter--2lKo5"></div>
                    <div class="content-block-module--content--3HQ6B">
                        <h1 class="content-block-module--title--28kL4"></h1>
                        <p class="content-block-module--subtitle--Siet5"></p>
                        <div class="content">
                            <h1>Get In Touch</h1>
                            <p>Have a question? Need custom training for you or your company?</p><a
                                class="button-module--button--2_BiW" href="##########################"
                                target="_blank">Email Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- footer section start here -->
    <footer class="footer-module--footer--V5wV3">
        <div>
            <ul class="footer-module--profiles--R3T-1">
                <li>
                    <a href="######" rel="noopener noreferrer" target="_blank">
                        <img src="image/github.svg" alt="github">
                    </a>
                </li>
                <li>
                    <a href="######" rel="noopener noreferrer" target="_blank">
                        <img src="image/udemy.svg" alt="udemy">
                    </a>
                </li>
                <li>
                    <a href="######" rel="noopener noreferrer" target="_blank">
                        <img src="./image/twitter.svg" alt="twitter">
                    </a>
                </li>
            </ul>
            <p>
                Designed and developed by
                <!--  -->
                Vishal Kumar
                <!--  -->
                © 2022
            </p>
            <p class="footer-module--credit--2vi3K">
                Philadelphia skyline photo was taken by
                <!--  -->
                <a href="######" target="_blank" rel="noopener noreferrer">Cory Popp</a>
            </p>
        </div>
    </footer>
    <!-- footer section ends here -->
</body>