*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #373737;
}
h2{
    position: relative;
    font-size: 20px;
    color: #f9f9f9;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 5px;
}
#form{
    position: relative;
}
#form #email{
    width: 300px;
    background: #292929;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
}
#form #inputBox{
    position: relative;
}
#text{
    text-transform: capitalize;
    display: block;
    font-weight: 300;
    color: #000;
    font-style: italic;
    padding: 5px;

}
#form.invalid #text::before{
    content: '';
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    background: url(./times-circle-solid.svg);
    /* background-color: #ff0000; */
    background-size: cover;
    border-radius: 50%;
    background-color: #fff;
}
#form.valid #text::before{
    content: '';
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    background: url(./check-circle-solid.svg);
    background-size: cover;
    /* background-color: #00ff00; */
    background-color: #fff;
    border-radius: 50%;
}