.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.fab{
    color: #00a8ff;
    font-size: 4.2em;
}
.notify::before{
    position: absolute;
    content: attr(data-count);    
    /* content: '1'; */
    top: -12px;
    right: -16px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    padding: 5px 12px;
    background: #e84118;
    border-radius: 50px;
    line-height: 100%;
    font-family: sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.1s ease-out;
    animation: animate 0.9s ease-out infinite alternate;
}
@keyframes animate {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.09);
    }
}
.notify.add-numb::before{
    opacity: 1;
}
.btn{
    position: absolute;
    left: -25px;
    top: 81px;
    height: 40px;
    width: 120px;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    border-radius: 3px;
    /* line-height: 40px; */
    outline: none;
    cursor: pointer;

    border: 1px solid #0097e6;
    font-family: sans-serif;
    text-transform: capitalize;
    background: #00a8ff;
}
.btn:hover{
    background: #0097e6;
}