body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    background: #000;
    color: rgba(255, 255, 255, 0.6);
    text-align: justify;
}
            /* this is a scroll bar  */
::-webkit-scrollbar
{
    width: 0;
}
#scrollpath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}
#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top,#008aff,#00ffe7);
    background-size: 400%;
    animation: animate 5s linear infinite;
    z-index: 1000;
}
@keyframes animate{
    0%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
    100%
    {
        filter: hue-rotate(0deg);
    }
}
#progressbar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    background: linear-gradient(to top,#008aff,#00ffe7);
}
#progressbar::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#008aff,#00ffe7);
    filter: blur(30px);
}
section.sec1{
    padding: 10px 100px;
}
            /* this is a scroll bar  */
nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 70px;
    padding: 0 100px;
    box-sizing: border-box;
    z-index: 3;
}
nav .logo{
    float: left;
    height: 100%;
    line-height: 50px;
    text-transform: uppercase;
}
nav .logo h3{
    color: #000;
    top: 0;
    left: 0;
    font-weight: 300;
}
section.image{
    background: url(./wp2605967.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    /* clip-path: circle(200px at center center); */
    clip-path: circle(180vh at 50% -80vh);
}
section.image01{
    background: url(./wp2776534.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    /* clip-path: circle(200px at center center); */
    clip-path: circle(180vh at 50% -80vh);
}
nav ul{
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    position: relative;
    height: 70px;
    line-height: 70px;
    padding: 0 10px;
    top: 0;
    left: 0;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}
section h3{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
}
section{
    padding: 5px 80px;
}
nav ul:hover li{
    opacity: 0.2;
    filter: blur(2px);
}
nav ul li:hover{
    opacity: 1;
    filter: blur(0px);
}